// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: lightgrey;
  &:hover {
    color: teal;
    text-decoration: none;
  }
}

.container {
  text-align: center;
  padding: 16px 16px;
}

form {
  margin: 16px 16px;
}

li {
  list-style-type: none;
}
